<app-edit-button  
type="button"
data-bs-toggle="modal"
data-bs-target="#aboutModal"></app-edit-button>

<div
  class="modal fade"
  id="aboutModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"


>
  <div class="modal-dialog"   >
    <div class="modal-content"
    [ngStyle]="{
      'background-image': 'url(' + background + ')',
      'background-size': '100% 100%',
      'background-attachment': 'fixed'
    }">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">About</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <!---->

      <form (ngSubmit)="submitAbout()">

      <div class="modal-body d-flex row justify-content-betwen">
        <label for="profileImg">Imagen de Perfil:</label>
        <input type="text" name="profileImg" id="profileImg"  placeholder="URL Imagen" required [(ngModel)]="profileImg">

        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" placeholder="Nombre" required [(ngModel)]="name" /> 

        <label for="position">Posicion (Trabajo):</label>
        <input type="text" name="position" id="position" placeholder="Posicion (Trabajo)" required [(ngModel)]="position" /> 
        
        <label for="text">Acerca De:</label>
        <input type="text" name="text" id="text" placeholder="Acerca de" required [(ngModel)]="text" />       
      </div>

      <div class="modal-footer">
        <input type="submit" value="Guardar" class="btn btn-outline-warning">
      </div>

    </form>

    <!---->
    </div>
  </div>
</div>
