#card-container{
    margin-top: 2em;
}

#container-buttons{
    margin-bottom: 1em;
}

.buttons{
    background-color: var(--background-primary);
    border-radius: 0.5em;
}

#card{
    padding: 1em 0;
    margin: 0;
    background-color:var(--background-primary);
    color: var(--font-color-white);
    border-radius: 0.5em;   
}

#logo-lugar{
    width: 8em;
    border-radius: 50vw;
}

#information{
    padding-left: 1em;
}