<div id="container"class="row d-flex align-items-center justify-content-between" style="background: red;">
    <app-profile-picture class="col-12 col-md-3 d-flex justify-content-center" style="background: green;">
    </app-profile-picture>

    <app-name-job class="col-12 col-md-9 d-flex flex-column justify-content-center justify-content-md-start"
    style="background: blue;">
    </app-name-job>

    <app-text class="col-12 d-flex justify-content-center align-items-center" style="background: yellow;">
    </app-text>
</div>

