header{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    background-color: var(--background-primary);
    color: var(--font-color-white);
    margin-bottom: 2em;
}

app-logo-arg-prog,
app-social-media{
    font-size: 3em;
}
