<app-edit-button type="button"  data-bs-toggle="modal"
data-bs-target="#experienceModal"></app-edit-button>


<div
  class="modal fade"
  id="experienceModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content"
    
    [ngStyle]="{
      'background-image': 'url(' + background + ')',
      'background-size': '100% 100%',
      'background-attachment': 'fixed'
    }">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="#">
        <div class="modal-body d-flex row justify-content-betwen">
  
          <p><strong>Logo del Establecimiento/Lugar</strong></p>
          <input type="file" accept="image/*">
  
          <p><strong>Nombre del Establecimiento/Lugar</strong></p>
          <input type="text" placeholder="Nombre del Establecimiento/Lugar" required /> 
          
          <p><strong>Posicion (Trabajo)</strong></p>
          <input type="text" placeholder="Posicion (Trabajo)" required /> 

          <p><strong>Comienzo</strong></p>
          <input type="date" placeholder="Titulo/Carrera" required />  

          <p><strong>Final</strong></p>
          <input type="date" placeholder="Titulo/Carrera" />   
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-warning"><strong>Guardar</strong></button>
        </div>
      </form>
    </div>
  </div>
</div>

