
  <nav class="d-flex align-items-center justify-content-around">
    <button class="btn btn-outline-warning">
      <a routerLink="Education"><strong>EDUCACION</strong></a>
    </button>
    <button class="btn btn-outline-warning">
      <a routerLink="Expeience"><strong>EXPERIENCIA</strong></a>
    </button>
    <button class="btn btn-outline-warning">
      <a routerLink="Skills"><strong>SKILLS</strong></a>
    </button>
    <button class="btn btn-outline-warning">
      <a routerLink="Proyects"><strong>PROYECTOS</strong></a>
    </button>
  </nav>

