<nav class="d-flex align-items-center justify-content-around">
  <a routerLink="Education"
    ><button class="btn btn-outline-warning">
      <strong>EDUCACION</strong>
    </button></a
  >
  <a routerLink="Experience">
    <button class="btn btn-outline-warning">
      <strong>EXPERIENCIA</strong>
    </button>
  </a>
  <a routerLink="Skills">
    <button class="btn btn-outline-warning">
      <strong>SKILLS</strong>
    </button>
  </a>
  <a routerLink="Proyects">
    <button class="btn btn-outline-warning">
      <strong>PROYECTOS</strong>
    </button>
  </a>
</nav>
