<div class="main-container">
    <app-header>
    </app-header>

    <app-about 
    class="d-flex justify-content-center align-items-center">
    </app-about>
<!--
    <div class="col d-flex align-items-center justify-content-around">
        <app-education 
        class="d-flex justify-content-center align-items-center">
        </app-education>
        <app-education 
        class="d-flex justify-content-center align-items-center">
        </app-education>
    </div>

    <div class="col d-flex align-items-center justify-content-around">
        <app-experience
        class="d-flex justify-content-center align-items-center">
        </app-experience> 
        
        <app-experience
        class="d-flex justify-content-center align-items-center">
        </app-experience> 
    </div>
-->
</div>