<div class="main-container">
    <app-header>
    </app-header>

    <app-about class="d-flex justify-content-center align-items-center">
    </app-about>

    <div class="d-flex align-items-center justify-content-around">
        <app-education 
        class="d-flex justify-content-center align-items-center">
        </app-education>
    </div>

    <div class="d-flex align-items-center justify-content-around">
        <app-experience
        class="d-flex justify-content-center align-items-center">
        </app-experience> 
    </div>
    
    <div class="d-flex justify-content-center align-items-center">
        <app-skills></app-skills>
    </div>
</div>