<div id="container">
    <div class="title d-flex justify-content-around">
        <h2>{{title}}</h2>
    <app-edit-button></app-edit-button>
    </div>

    <div class="d-flex row justify-content-around align-items-center">
        <app-card-soft-skill class="col-6 col-sm-4 col-md-3 "></app-card-soft-skill>
        <app-card-soft-skill class="col-6 col-sm-4 col-md-3 "></app-card-soft-skill>
        <app-card-soft-skill class="col-6 col-sm-4 col-md-3 "></app-card-soft-skill>
        <app-card-soft-skill class="col-6 col-sm-4 col-md-3 "></app-card-soft-skill>
        <app-card-soft-skill class="col-6 col-sm-4 col-md-3 "></app-card-soft-skill>
    </div>
</div>
