.container{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
   
    color: var(--font-color-white);
    margin-bottom: 3.5em;
}

nav{
    background-color: var(--background-primary);
}
a{
    text-decoration: none;
}
