<div class="d-flex row justify-content-around align-items-center">

  <div id="sub-container" *ngFor="let experience of experiences" class="col-12 col-md-5">
    <div id="container-buttons" class="d-flex justify-content-center">
      <div id="sub-container-buttons">

        <app-modal-experience class="col-6"></app-modal-experience>
        <app-delete-button class="col-6"></app-delete-button>
      </div>
    </div>
    <div

    id="card-container"

      class="container d-flex align-items-center justify-content-center"
    >
      <div class="col-3">
        <img id="logo-lugar" [src]="experience.img" class="img-fluid" />
      </div>
      <div class="col-8">
        <div id="information">
          <h3>{{ experience.companie }}</h3>
          <p>{{ experience.job }}</p>

          <p id="anios"><strong>{{ experience.anios }}</strong></p>

        </div>
      </div>
    </div>
  </div>
</div>
